on: 
  push:
    branches:
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - run: node -v
      - run: npm -v
  build:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest

    strategy: 
      matrix:
        node-version: [15.x]
    
    steps:
      - name: Checkout 
        uses: actions/checkout@v3

      - name: Install and build
        run: npm run install && npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.3.3
        with:
          branch: gh-pages
          folder: build

